/*

Template: Webster - Responsive Multi-purpose HTML5 Template
Author: potenzaglobalsolutions.com
Design and Developed by: potenzaglobalsolutions.com

NOTE: This file does not include with the Webster package. This is for color customizer demo purpose only.

*/
div.style-customizer { background-color: #fff;	color:#262626; width: 300px; position: fixed; top: 0; z-index: 10000; right: -300px; box-shadow: -3px 0 50px -2px rgba(0, 0, 0, 0.14); height: 100%; bottom: 0; }
.style-customizer a.button:hover { color: #fff !important; }
.style-customizer.closed { box-shadow: none;}
.style-customizer a.button:hover:after { z-index: -1; }
.style-customizer a.button { z-index: 9; }
.style-customizer a.button.button-border { text-transform: uppercase; width: 100%; font-size: 14px; }
div.style-customizer .buy-button { padding: 30px 30px 30px 30px; text-align: center; display: inline-block; z-index: 2; position: absolute; background: #fff; width: 100%; }
div.style-customizer .content-chooser {	padding: 90px 22px 30px 30px; overflow-x:hidden; overflow-y: auto;  height: 100%; position: absolute; background-color: #ffffff; border-top: none; }
div.style-customizer.opened .content-chooser { opacity: 1; }
.content-chooser p { margin-bottom: 10px; }
div.style-customizer h2 { margin: 0; font-size: 18px;}
div.style-customizer h3 { font-size: 16px;	margin-top: 30px; line-height: 15px;}
div.style-customizer hr { margin: 15px 0; }
div.style-customizer hr + h3 {	margin-top: 0; }
div.style-customizer a.opener {	display: block;	height: 45px; position: absolute; right: 300px; top: 200px; background: #fff; width: 45px;	font-size: 20px; line-height: 45px;	color: #777777;	text-align: center;text-decoration: none;	box-shadow: -5px 0 15px 0px rgba(0, 0, 0, 0.10); }
div.style-customizer.opened a.opener {	left: -45px; border-color: transparent; }
div.style-customizer ul {	list-style: none;	margin: 0;	padding: 5px 0 0 0;	font-size: 0;}
div.style-customizer ul li { float: left; width: 25px; height: 25px; position: relative;	display: inline-block;	cursor: pointer; margin: 0 3px 3px 0; -webkit-transition: all linear 0.3s;	-moz-transition: all linear 0.3s; -o-transition: all linear 0.3s;	-ms-transition: all linear 0.3s;	transition: all linear 0.3s;}
div.style-customizer ul.layoutstyle li { width: 45%; height: 30px;	margin-right: 5px;	color: #666666;	background-color: #f1f1f1;	border: 1px solid #f3f3f3;	font-size: 13px; text-align: center; padding-top: 5px;}
div.style-customizer ul.layoutstyle li i {	color: #cccccc;	font-size: 11px;}
div.style-customizer ul.layoutstyle li.selected {	border: 1px solid #aaaaaa;}
div.style-customizer ul.layoutstyle li.selected i {	color: #666666;}
div.style-customizer ul.footerChange li {width: 45%; height: 30px;	margin-right: 5px;	font-size: 13px; padding: 6px 14px 0;}
div.style-customizer ul.footerChange li.dark {	color: #f1f1f1;	background-color: #262626;}
div.style-customizer ul.footerChange li.light {	color: #333333;	background-color: #f7f7f7;}
div.style-customizer ul.footerChange li i {	width: 20px;}
div.style-customizer ul.patternChange li { border: 1px solid #f3f3f3; }
div.style-customizer ul.patternChange li.pattern-0.selected:after, div.style-customizer ul.patternChange li.pattern-1.selected:after, div.style-customizer ul.patternChange li.pattern-2.selected:after, div.style-customizer ul.patternChange li.pattern-3.selected:after, div.style-customizer ul.patternChange li.pattern-4.selected:after {color: #333333;}
div.style-customizer ul.patternChange li.selected:after {color: #ffffff;}
div.style-customizer ul li.selected { border:3px solid #000;}
div.style-customizer ul.resetAll li { width: 100%; padding: 6px 0; min-width: 0; text-align:center;	margin-top:30px;}
div.style-customizer .btn a {	text-decoration: none;	color: #ffffff;}
div.style-customizer select {width: 100%; padding: 5px;	border: 1px solid #b2bfca;}

/*Color Skins*/
div.style-customizer .skin-default { background: #ed1c24;}
div.style-customizer .skin-blue { background: #299be8;}
div.style-customizer .skin-brown {	background: #885830;}
div.style-customizer .skin-cyan { background: #37c5a6;}
div.style-customizer .skin-dark-pink {	background: #f41e54;}
div.style-customizer .skin-gold { background: #ba893f;}
div.style-customizer .skin-gray { background: #9a9a9a;}
div.style-customizer .skin-green-dark {	background: #005608;}
div.style-customizer .skin-lime { background: #b4ef56;}
div.style-customizer .skin-olive { background: #667900;}
div.style-customizer .skin-orange {	background: #ed5001;}
div.style-customizer .skin-pink { background: #e9457a;}
div.style-customizer .skin-green { background: #00b106;}
div.style-customizer .skin-purple {	background: #c36dff;}
div.style-customizer .skin-red { background: #d12326;}
div.style-customizer .skin-salmon {	background: #ff796c;}
div.style-customizer .skin-steelblue {	background: #354a6b;}
div.style-customizer .skin-water-blue {	background: #0079fc;}
div.style-customizer .skin-yellow {	background: #f7c605;}
div.style-customizer .skin-persian-green {	background: #7dcdcd;}
div.style-customizer .skin-perfume { background: #b3affa;}
div.style-customizer .skin-chestnut-rose { background: #D35665;}
div.style-customizer .skin-blue-gem { background: #5713A9;}
div.style-customizer .skin-malachite { background: #51e887;}
 
/*Background Patterns*/
.pattern-1 {background-image: url("../images/color-customizer/pattern-1.png");}
.pattern-2 {background-image: url("../images/color-customizer/pattern-2.png");}
.pattern-3 {background-image: url("../images/color-customizer/pattern-3.png");}
.pattern-4 {background-image: url("../images/color-customizer/pattern-4.png");}
.pattern-5 {background-image: url("../images/color-customizer/pattern-5.png");}
.pattern-6 {background-image: url("../images/color-customizer/pattern-6.png");}
.pattern-7 {background-image: url("../images/color-customizer/pattern-7.png");}
.pattern-8 {background-image: url("../images/color-customizer/pattern-8.png");}
.pattern-9 {background-image: url("../images/color-customizer/pattern-9.png");}
.pattern-10 {background-image: url("../images/color-customizer/pattern-10.png");}
.pattern-11 {background-image: url("../images/color-customizer/pattern-11.png");}
.pattern-12 {background-image: url("../images/color-customizer/pattern-12.png");}
.pattern-13 {background-image: url("../images/color-customizer/pattern-13.png");}
.pattern-14 {background-image: url("../images/color-customizer/pattern-14.png");}
.pattern-15 {background-image: url("../images/color-customizer/pattern-15.png");}

/*Background Images*/
.main-bg-change li{overflow:hidden;}
.main-bg-change li img {height: 100%; width:100%; }
body.main-bg-1 {background-image: url("../images/color-customizer/main-bg-1.jpg"); background-repeat:no-repeat; background-attachment:fixed; background-size: cover;	position:relative; }
body.main-bg-2 {background-image: url("../images/color-customizer/main-bg-2.jpg"); background-repeat:no-repeat; background-attachment:fixed; background-size: cover;	position:relative; }
body.main-bg-3 {background-image: url("../images/color-customizer/main-bg-3.jpg"); background-repeat:no-repeat; background-attachment:fixed; background-size: cover;	position:relative; }
body.main-bg-4 {background-image: url("../images/color-customizer/main-bg-4.jpg"); background-repeat:no-repeat; background-attachment:fixed; background-size: cover;	position:relative; }
body.main-bg-5 {background-image: url("../images/color-customizer/main-bg-5.jpg"); background-repeat:no-repeat; background-attachment:fixed; background-size: cover;	position:relative; }
body.main-bg-6 {background-image: url("../images/color-customizer/main-bg-6.jpg"); background-repeat:no-repeat; background-attachment:fixed; background-size: cover;	position:relative; }
body.main-bg-7 {background-image: url("../images/color-customizer/main-bg-7.jpg"); background-repeat:no-repeat; background-attachment:fixed; background-size: cover;	position:relative; }
body.main-bg-8 {background-image: url("../images/color-customizer/main-bg-8.jpg"); background-repeat:no-repeat; background-attachment:fixed; background-size: cover;	position:relative; }
body.main-bg-9 {background-image: url("../images/color-customizer/main-bg-9.jpg"); background-repeat:no-repeat; background-attachment:fixed; background-size: cover;	position:relative; }
body.main-bg-10 {background-image: url("../images/color-customizer/main-bg-10.jpg"); background-repeat:no-repeat; background-attachment:fixed; background-size: cover;	position:relative; }

/*Box Layout Responsive*/
@media (min-width: 768px) {
.boxed-layout .page-wrapper { width: 100%;}
.boxed-layout.page-wrapper { width: 100%;}
}
@media (min-width: 992px) {
.boxed-layout .page-wrapper { width: 100%;}
.boxed-layout.page-wrapper { width: 100%;}
}
@media (min-width: 1240px) {
.boxed-layout .page-wrapper { width: 1240px; }
.boxed-layout.page-wrapper { width: 1240px; }
}
.boxed-layout .fullscreen-bg {	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;}
.white-bg {	background-color: #fff;}
.patternChange .main-bg-change li.main-bg-1{background-image: url("../images/main-bg-0.html");}

@media( max-width:992px) {
.style-customizer { display:none !important; }
.boxed-layout .page-wrapper { width: inherit; }
.boxed-layout.page-wrapper { width: inherit; }
}